<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProjectTokoTanaman.Properties.Settings.LoginTanamanConnectionString"
            connectionString="Data Source=DESKTOP-49O9H5E;Initial Catalog=LoginTanaman;Persist Security Info=True;User ID=sa;Password=25"
            providerName="System.Data.SqlClient" />
        <add name="ProjectTokoTanaman.Properties.Settings.TokoConnectionString"
            connectionString="Data Source=DESKTOP-49O9H5E;Initial Catalog=Toko;Persist Security Info=True;User ID=sa;Password=25"
            providerName="System.Data.SqlClient" />
        <add name="ProjectTokoTanaman.Properties.Settings.projecttokoConnectionString"
            connectionString="Data Source=DESKTOP-49O9H5E;Initial Catalog=projecttoko;Persist Security Info=True;User ID=sa;Password=25"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>